{% extends 'base.html.twig' %}

{% block title %}Citaj {{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>
    <p>
        Планови за поход на европски трон на Маракани су прављени од средине 80-их година. Звезда је у претходне две деценије остваривала солидне европске резултате састављајући тим од играча из своје Омладинске школе, уз повремено довођење младих талентованих фудбалера из малих клубова, углавном у Србији. Тандем Џајић-Цветковић решио је да крене другим путем, да довођењем најбољих играча на домаћем тржишту створи екипу која би одмах могла да се такмичи на континенталном нивоу, а за неколико сезона и буде кандидат за европске трофеје.
    </p>
    <p>
        Прилику да годину оконча другим међународним трофејом Звезда је потражила у Токију, где јој је ривал био чилеански Коло Коло, шампион Јужне Америке. На клупи екипе из Сантјага седео је Мирко Јозић, под чијим руководством је Југославија била омладински првак света, а Просинечки најбољи на планети у свом узрасту. Али Роби је, баш као и Стојановић, Маровић, Шабанаџовић и Бинић, напустио екипу одмах по освајању титиуле првака Европе. Прилику да се прослави добио је најмлађи првотимац нашег клуба, Владимир Југовић. Његова два поготка и бриљантна игра на целом терену донели су му награду у виду Тојоте, резервисану за најбољег играча утакмице. Трећи гол у великој победи 3:0 дао је Дарко Панчев, а Звезда је од финиша првог дела играла са играчем мање због искључења Савићевића.
        Осмог децембра 1991. године Звезда је остварила све што један фудбалски клуб може да оствари: била је шампион Европе и света. Са ове дистанце, мало је вероватно да ће иједан клуб са истока Европе то остварити у будућности. Опет, то није деловало вероватно ни десет година пре Барија. Прича о славној години овде није завршена.
    </p>
</div>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>

{% endblock %}